<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pagina Inicio</title>
        <meta charset="UTF-8">
<!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- Bootstrap CSS v5.2.1 -->
    </head>
    <body class="container">
<!-- navbar  -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="http://localhost:8080/index#">ILERNA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administracion
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:8080/alumno/crud">Alumno</a></li>
                            <li><a class="dropdown-item" href="http://localhost:8080/profesor/crud">Profesor</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Algo más aquí</a></li>
                          </ul>
                        </li>
                          <li class="nav-item">
                          <a class="nav-link" href="#">Enlace</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled">Deshabilitado</a>
                        </li>
                      </ul>
                    </div>
                </div>
            </nav>
<!-- Fin navbar  -->
<div class="mx-auto text-center">
    <h1>Modificar Formacion Profesionales</h1>
</div>

  <div class="container">
        <form action="#" th:action="@{./modificar}" th:object="${fp}" method="post">
            <div class="form-group">
                <p><input type="hidden" th:field="*{id}" /></p>
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}"  />
            </div>
            <div class="form-group">
                <label for="descripcion">descripcion</label>
                <input type="text" class="form-control" id="apellido" th:field="*{descripcion}">
            </div>
            </div>
                <button type="submit" class="btn btn-primary col-12">Enviar</button>
            </div>
        </form>
      
    </div>

<!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</        
<!-- Bootstrap JavaScript Libraries -->
<!-- Seleccionar el elemento en foco por defecto -->
<script>
		document.addEventListener("DOMContentLoaded", function() {
			document.getElementById("nombre").focus();
		});
</script>
<!-- Seleccionar el elemento en foco por defecto -->

</body>

</html>
